<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Tampil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h2>Data Users</h2>
                <table  class="table" width="500" style="margin-left:auto;margin-right:auto">
                    <tbody th:each="person : ${dataUsers}">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                        </tr>
                        <tr  th:each="entry : ${person}" >
                            <td
                                th:text="${entry.id}"></td>
                            <td
                                th:text="${entry.username}"></td>
                            <td
                                th:text="${entry.password}"></td>
                            <td
                                th:text="${entry.email}"></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <form action="/index">
                    <input type="submit" value="Back"/>
                </form>
            </div>
        </div>
    </body>
</html>
