<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Tampil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body class="jumbotron">
        <div class="jumbotron" style="margin-top: -50px;">
            <div class="container">
                <h2>Data Users</h2>
                <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                <div class="col-sm-1">
                    <form action="/users/add" method="GET">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="col-xs-11 text-right">
                    <form action="/users/search" method="GET">
                        Cari : <input type="text" name="search"/>
                        <input class="btn btn-primary" type="submit" value="Cari"/>
                    </form>
                </div>
                <br/>
                <br/>
                <table  class="table" width="500" style="margin-left:auto;margin-right:auto">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tbody th:each="person : ${dataUsers}">
                        <tr  th:each="entry : ${person}" >
                            <td value="id"
                                th:text="${entry.id}"></td>
                            <td
                                th:text="${entry.username}"></td>
                            <td
                                th:text="${entry.password}"></td>
                            <td
                                th:text="${entry.email}"></td>
                            <td>
                                <form method="POST" th:action="@{/users/updateUser(id=${entry.id})}">
                                    <button type="submit"  
                                            name="Update" 
                                            value="Update"
                                            class="btn btn-primary">                
                                        Update
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" th:action="@{/users/delete(id=${entry.id})}">
                                    <button type="submit" 
                                            name="Delete" 
                                            vaue="Delete"
                                            class="btn btn-primary">                
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                <br/>
                  <div class="col-sm-3">
                    <form action="/index">
                        <input class="btn btn-warning" type="submit" value="Back"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
